body{
margin: 0px;
padding: 0px;

}

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 9rem;
        width: 100%;
        padding: 0 6rem;
        z-index: 100;
}

.nav_button{
      display: flex;
      align-items: center;
      list-style: none;
      font-size: 23px;
      font-family: 'Poppins', sans-serif;
      color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: right;
  }
  li a {
    display: block;
    margin: 15px;
    padding: 12px;
  
  }
  a{
    text-decoration: none;
  }
  .logo{
    margin-left: 30px;
    margin-top: 20px;
  }
  

  .section--1{
    width: 100%;
    background-image: url(/img/Mountain\ design\ web.png);
    background-size: cover;
    background-position:center;
  }
.first-sec{
  display: flex;
  flex-direction: row;
  
}
.sec1-para{
  width: 50%;
}
.img-boat{
width: 30%;
height: 400px;
margin-top: 103px;
margin-bottom: 63px;
margin-left: 13%;
}
.Name-web{
    color: white;
    font-size: 60px;
    margin-left: 60px;


}
.paragraf-web{
  font-size: 25px;
  margin-left: 60px;
  color: white;
  font-weight: bold;
  line-height: 1.2;
}
.btn-sec1{
  width: 150px;
  color: white;
  background-color: #4AB45E;
  ;
  border: none;
  height: 30px;
  margin-left: 60px;
  margin-bottom: 60px;
}
.para-sec2{
  width: 50%;
  margin-left: 20px;
  
}
.sec2{
  display: flex;
}
.tiket{
text-align: center;

}

.tiket h3{
  color: #4AB45E;
  font-size: 18px;
}
.sir-tiket{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.fist-tiket{
    text-align: center;
    max-width: 120px;
margin-right: 40px;
}
.second-tiket{
  text-align: center;
  max-width: 120px;
  margin-right: 40px;

}
.third-tiket{
  text-align: center;
  max-width: 120px;
  margin-right: 40px;

}
.Fourth-tiket{
  text-align: center;
  max-width: 120px;
}